@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body {
  font-family: 'Open Sans', "Open Sans", sans-serif; margin: 0; padding: 0; border: 0;
}

.outer-div{
     background-color: #f2f9ff; margin: 0; padding: 0; border: 0;
}

.inner-div{
     margin: auto;
     width: 35%; 
     background-color: #fbfdff;
     border:1px solid #d8d8d8;
     word-wrap: break-word;
}

.image-div{
	border: 5px;
	width:100%;
}

.icon-div{
	float: left;
	padding-left: 8px;
	width: 35px; 
	height: 35px;

}

.header-div{
	float: left;
	padding-left: 30px;
	width: auto; 
	height: auto;

}